.logoContainer{
    text-align: center; 
    background-color: black;

   
}
.logoContainer2{
    text-align: center; 
    background-color: black;
    padding: 60px;
}

.callout{
 background-color: black;
 color: white;

}
.tagName{
    color: white;
    font-family: cursive;
    font-size: 15pt;
}
.yearRange{
    text-align: center;
}
.slider{
    width: 80%;
    margin-left: 10%;
}
.sliderContainer{
   align-content: center;
}



h5{
    text-align: center;
}
#random{
    position: relative;
    right: 180px;
    
}

#lgBtn{
    background-color:rgb(231, 9, 54) ;
}


#lgBtnDiv{
 
    position: relative;
    right: 130px;


.start {
    width: 8%;
    height: 30px;

}
/* #endDate {
    position: absolute;
    right: 80%;

} */
.start {
    margin-left: 15px;

}